<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TODO</title>
  </head>
  <body
    <% include "includes/body"%>
  </body>
  <script src="/js/main.js"></script>
</html>
