<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TODO</title>

    <!-- TODO: in PROD following includes MUST be served in single request pre content type -->

      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

      <!-- Optional theme -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />

    <!-- TODO: End of TODO -->

  </head>

  <body
    <% include "includes/body"%>
  </body>

  <script src="/js/main.js"></script>

</html>
